@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #0c0806;
  border-radius: 5px;
}

body {
  color: whitesmoke;
  background: #0c0806;
  overflow-x: hidden;
}

header nav {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  position: relative;
}
header nav .logo a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
header nav .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}
header nav .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Asegúrate de que esté por encima del menú */
}
header nav .menu-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
header nav .menu-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header nav .menu-links ul li {
  display: inline;
}
header nav .menu-links ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 8px;
}

.index-main .portada {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.index-main .portada .image-container {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}
.index-main .portada .image-container img {
  max-width: 100%; /* Asegura que la imagen sea responsiva */
  height: auto;
  mask-image: linear-gradient(black, transparent);
}
.index-main .portada .image-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em; /* Tamaño de la fuente */
  color: rgba(255, 255, 255, 0.7); /* Color del texto */
  text-align: center;
  z-index: 0; /* Asegura que el texto esté detrás de la imagen */
  opacity: 0;
  animation: fadeInText 1s forwards;
  animation-delay: 1.5s; /* Retraso para que aparezca después de la imagen */
}
.index-main .portada .image-container div .part1 {
  transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
  animation: slideInLeft 1s forwards; /* Animación de entrada desde la izquierda */
  animation-delay: 1s; /* Retraso para el texto */
}
.index-main .portada .image-container div .part2 {
  transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
  animation: slideInRight 1s forwards; /* Animación de entrada desde la derecha */
  animation-delay: 1s; /* Retraso para el texto */
}
.index-main .portada .image-container div span {
  display: inline-block; /* Permite que se parta en dos */
}
@keyframes fadeIn {
  to {
    opacity: 1; /* Finaliza completamente visible */
  }
}
@keyframes fadeInText {
  to {
    opacity: 1; /* Hace que el texto sea visible */
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate(-150%, -50%); /* Comienza fuera de la pantalla a la izquierda */
  }
  100% {
    transform: translate(-80%, -50%); /* Termina en el centro */
  }
}
@keyframes slideInRight {
  0% {
    transform: translate(150%, -50%); /* Comienza fuera de la pantalla a la derecha */
  }
  100% {
    transform: translate(80%, -50%); /* Termina en el centro */
  }
}
.index-main .carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 150px;
}
.index-main .carousel-container .carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}
.index-main .carousel-container .carousel-track .carousel-image {
  width: 250px;
  /* Ajusta el ancho al contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
  max-height: 100vh;
  /* Limita la altura máxima */
  object-fit: cover;
  /* Cubre el área sin deformar */
}
.index-main .boton-portfolio {
  display: flex;
  justify-content: center;
}
.index-main .boton-portfolio button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #812e2e;
}
.index-main .boton-portfolio button:hover {
  background: #d12323;
}
.index-main .boton-portfolio a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.index-main .comision-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  color: white;
  margin: auto;
  margin-top: 150px;
  background: #812e2e;
  width: 95%;
  height: 250px;
}
.index-main .comision-container .comision-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main .comision-container .comision-title h2 {
  font-size: 40px;
}
.index-main .comision-container .comision-button {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main .comision-container .comision-button button {
  background: #c54040;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.index-main .comision-container .comision-button button:hover {
  background: #d12323;
}
.index-main .comision-container .comision-button a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.index-main .comision-container .comision-text {
  grid-row: span 2/span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main .comision-container .comision-text p {
  font-size: 20px;
}
.index-main .about-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  margin: auto;
  color: white;
  margin-top: 150px;
  background: #812e2e;
  width: 95%;
  height: 350px;
}
.index-main .about-index .about-ix-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.index-main .about-index .about-ix-text {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.index-main .about-index .about-ix-text p {
  font-size: 20px;
}
.index-main .about-index .about-ix-img {
  grid-row: span 2/span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-main .about-index .about-ix-img img {
  width: 500px;
  height: 350px;
}

.portfolio-main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}
.portfolio-main .gallery .gallery-item {
  position: relative;
  overflow: hidden;
}
.portfolio-main .gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio-main .gallery .gallery-item:hover .overlay {
  opacity: 1;
}
.portfolio-main .gallery .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}
.portfolio-main .gallery .overlay .text {
  text-align: center;
  padding: 10px;
}

.comision-main .formulario-comision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: solid white;
}
.comision-main .formulario-comision .com-desc-title {
  grid-column: span 2/span 2;
}
.comision-main .formulario-comision .com-txt-area {
  grid-column: span 2/span 2;
  grid-row-start: 4;
}
.comision-main .formulario-comision .com-deseado {
  grid-column: span 2/span 2;
  grid-row-start: 5;
}
.comision-main .formulario-comision .psd-label {
  grid-row-start: 6;
}
.comision-main .formulario-comision .publ-label {
  grid-row-start: 6;
}
.comision-main .formulario-comision .pers-label {
  grid-row-start: 7;
}
.comision-main .formulario-comision .ref-label {
  grid-column: span 2/span 2;
}
.comision-main .formulario-comision .subida-label {
  grid-column: span 2/span 2;
  grid-row-start: 9;
}
.comision-main .formulario-comision .com-cancelar {
  grid-row-start: 10;
}
.comision-main .formulario-comision .com-enviar {
  grid-row-start: 10;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 150px;
}
.footer h3 {
  margin-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer .footer a:hover {
  text-decoration: underline;
}
.footer .footer .icon {
  display: inline-block;
  margin-top: 10px;
}
.footer .icon i {
  font-size: 20px;
}

@media (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }
  .carousel-image {
    max-width: 200px;
  }
  .comision-text p {
    margin-right: 5vh;
  }
  .about-ix-text p {
    margin-left: 5vh;
  }
  .about-ix-img img {
    max-width: 400px;
    height: 250px;
  }
}
@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .carousel-image {
    max-width: 150px;
  }
  .about-ix-img img {
    max-width: 300px;
    height: 200px;
  }
}
@media (min-width: 769px) {
  .close {
    display: none; /* Oculta el botón de cierre en pantallas mayores a 768px */
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .menu-links {
    display: none; /* Oculta el menú en dispositivos móviles por defecto */
    position: fixed; /* Fija el menú en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateY(-100%); /* Oculta el menú fuera de la vista */
  }
  .menu-links.active {
    display: flex;
    transform: translateY(0);
  }
  .hamburger {
    display: block; /* Muestra el botón hamburguesa en dispositivos móviles */
  }
  .menu-links ul {
    flex-direction: column;
    text-align: center;
  }
  .menu-links ul a {
    padding: 15px 0;
    font-size: 24px;
  }
  .carousel-image {
    width: 200px;
  }
  .about-ix-img img {
    max-width: 150px;
    height: 100px;
  }
  .comision-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .comision-title {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comision-text {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .comision-text p {
    margin-left: 5vh;
  }
  .comision-button {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comision-button button {
    border-radius: 5px;
    border: solid white;
  }
  .boton-portfolio button {
    border: solid white;
    border-radius: 5px;
    margin-top: 10px;
  }
  .about-index {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .about-ix-title {
    grid-column: 1;
    grid-row: 1;
  }
  .about-ix-text {
    grid-column: 1;
    grid-row: 2;
  }
  .about-ix-text p {
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .about-ix-img {
    display: none;
  }
  .footer .icon {
    margin-top: 10px;
  }
  /* PORTAFOLIO */
  .gallery {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .carousel-image {
    width: 150px;
  }
  .about-ix-img img {
    max-width: 150px;
    height: 100px;
  }
  .comision-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .comision-title {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comision-text {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .comision-button {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
