@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #190c0b;
  border-radius: 5px;
}

body {
  color: whitesmoke;
  background-color: #190c0b;
  overflow-x: hidden;
}

header nav {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  position: relative;
  font-family: "Playfair Display", serif;
}
header nav .logo a {
  color: #f1e9e5;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
header nav .menu-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
header nav .menu-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header nav .menu-links ul li {
  display: inline;
}
header nav .menu-links ul li a {
  position: relative;
  cursor: pointer;
  color: #f1e9e5;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  transition: color 0.25s;
}
header nav .menu-links ul li a::after {
  position: absolute;
  content: "";
  inset: 0;
  background: white;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}
header nav .menu-links ul li a:hover {
  color: black;
}
header nav .menu-links ul li a:hover:after {
  scale: 1 1;
}

.index-body {
  font-family: "Playfair Display", serif;
}
.index-body .index-main .portada {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.index-body .index-main .portada .image-container {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}
.index-body .index-main .portada .image-container img {
  max-width: 100%;
  height: auto;
  mask-image: linear-gradient(black, transparent);
  filter: drop-shadow(25px 5px 3px black);
}
.index-body .index-main .portada .image-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  z-index: 0;
  opacity: 0;
  animation: fadeInText 1s forwards;
  animation-delay: 1.5s;
}
.index-body .index-main .portada .image-container div .part1 {
  transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
  animation: slideInLeft 1s forwards; /* Animación de entrada desde la izquierda */
  animation-delay: 1s; /* Retraso para el texto */
}
.index-body .index-main .portada .image-container div .part2 {
  transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
  animation: slideInRight 1s forwards; /* Animación de entrada desde la derecha */
  animation-delay: 1s; /* Retraso para el texto */
}
.index-body .index-main .portada .image-container div span {
  display: inline-block; /* Permite que se parta en dos */
}
@keyframes fadeIn {
  to {
    opacity: 1; /* Finaliza completamente visible */
  }
}
@keyframes fadeInText {
  to {
    opacity: 1; /* Hace que el texto sea visible */
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate(-150%, -50%); /* Comienza fuera de la pantalla a la izquierda */
  }
  100% {
    transform: translate(-80%, -50%); /* Termina en el centro */
  }
}
@keyframes slideInRight {
  0% {
    transform: translate(150%, -50%); /* Comienza fuera de la pantalla a la derecha */
  }
  100% {
    transform: translate(80%, -50%); /* Termina en el centro */
  }
}
.index-body .index-main .arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(360deg);
  cursor: pointer;
}
.index-body .index-main .arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.index-body .index-main .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.index-body .index-main .arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.index-body .index-main .galeria {
  margin-top: 5%;
}
.index-body .index-main .galeria .galeria-titulo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.index-body .index-main .galeria .carousel-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  width: 80%;
  height: 375px;
  transition: all 400ms;
  margin-left: 10%;
}
.index-body .index-main .galeria .carousel-container:hover .box {
  filter: grayscale(100%) opacity(24%);
}
.index-body .index-main .galeria .box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-body .index-main .galeria .carousel-container .box:hover {
  filter: grayscale(0%) opacity(100%);
}
.index-body .index-main .galeria .box-1 {
  background-image: url(../img/slider-1.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.index-body .index-main .galeria .box-2 {
  background-image: url(../img/slider-2.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.index-body .index-main .galeria .box-3 {
  background-image: url(../img/slider-3.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}
.index-body .index-main .galeria .box-4 {
  background-image: url(../img/slider-4.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}
.index-body .index-main .galeria .box-5 {
  background-image: url(../img/slider-5.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
.index-body .index-main .galeria .box-6 {
  background-image: url(../img/slider-6.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-6:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}
.index-body .index-main .galeria .box-7 {
  background-image: url(../img/slider-7.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-7:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}
.index-body .index-main .galeria .box-8 {
  background-image: url(../img/slider-8.jpg);
  background-size: cover;
  background-position: center;
}
.index-body .index-main .galeria .carousel-container:has(.box-8:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}
.index-body .index-main .galeria .box:nth-child(odd) {
  transform: translateY(-16px);
}
.index-body .index-main .galeria .box:nth-child(even) {
  transform: translateY(16px);
}
.index-body .index-main .galeria .boton-portfolio {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.index-body .index-main .galeria .boton-portfolio button {
  background-color: none;
  text-decoration: none;
  background-color: #190c0b;
  border: none;
}
.index-body .index-main .galeria .boton-portfolio button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.index-body .index-main .galeria .boton-portfolio button a span {
  position: relative;
  z-index: 3;
}
.index-body .index-main .galeria .boton-portfolio button a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #190c0b;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}
.index-body .index-main .galeria .boton-portfolio button a:hover::before {
  transform: scaleY(0);
}
.index-body .index-main .galeria .boton-portfolio button a::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #190c0b;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}
.index-body .index-main .galeria .boton-portfolio button a:hover::after {
  transform: scaleX(0);
}
.index-body .index-main .comision-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  color: #f1e9e5;
  margin: auto;
  margin-top: 150px;
  background-color: #8c1c18;
  width: 95%;
  height: 250px;
  background-image: url(../img/bg-1.jpeg);
  background-size: cover;
}
.index-body .index-main .comision-container .comision-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-body .index-main .comision-container .comision-title h2 {
  font-size: 40px;
}
.index-body .index-main .comision-container .comision-button {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-body .index-main .comision-container .comision-button button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
.index-body .index-main .comision-container .comision-button button a {
  text-decoration: none;
}
.index-body .index-main .comision-container .comision-button button:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 7%);
  color: #f1e9e5;
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}
.index-body .index-main .comision-container .comision-button button:hover a {
  color: #f1e9e5;
}
.index-body .index-main .comision-container .comision-button button:active {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.index-body .index-main .comision-container .comision-text {
  grid-row: span 2/span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-body .index-main .comision-container .comision-text p {
  font-size: 20px;
}
.index-body .index-main .about-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  margin: auto;
  color: #f1e9e5;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 95%;
  height: 350px;
}
.index-body .index-main .about-index .about-ix-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.index-body .index-main .about-index .about-ix-text {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.index-body .index-main .about-index .about-ix-text p {
  font-size: 20px;
}
.index-body .index-main .about-index .about-ix-img {
  grid-row: span 2/span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-body .index-main .about-index .about-ix-img img {
  width: 550px;
  height: 375px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  object-fit: cover;
}

.portfolio-body {
  font-family: "Playfair Display", serif;
}
.portfolio-body .portfolio-main {
  bottom: 5%;
}
.portfolio-body .portfolio-main h1 {
  font-size: 25px;
  text-align: center;
  margin: 3% 0 1% 0;
}
.portfolio-body .portfolio-main h2 {
  font-size: 20px;
  text-align: center;
  margin: 2% 0 4% 0;
}
.portfolio-body .portfolio-main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}
.portfolio-body .portfolio-main .gallery .gallery-item {
  position: relative;
  overflow: hidden;
}
.portfolio-body .portfolio-main .gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio-body .portfolio-main .gallery .gallery-item:hover .overlay {
  opacity: 1;
}
.portfolio-body .portfolio-main .gallery .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1e9e5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}
.portfolio-body .portfolio-main .gallery .overlay .text {
  text-align: center;
  padding: 10px;
}
.portfolio-body .portfolio-main .gallery .overlay a {
  text-decoration: none;
  color: #f1e9e5;
  font-size: 20px;
}
.portfolio-body .portfolio-main .gallery .overlay a span {
  color: rgb(5, 100, 224);
  text-decoration: underline;
}
.portfolio-body .portfolio-main .comision-button {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.portfolio-body .portfolio-main .comision-button button {
  background-color: none;
  text-decoration: none;
  background-color: #190c0b;
  border: none;
}
.portfolio-body .portfolio-main .comision-button button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.portfolio-body .portfolio-main .comision-button button a span {
  position: relative;
  z-index: 3;
}
.portfolio-body .portfolio-main .comision-button button a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #190c0b;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}
.portfolio-body .portfolio-main .comision-button button a:hover::before {
  transform: scaleY(0);
}
.portfolio-body .portfolio-main .comision-button button a::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #190c0b;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}
.portfolio-body .portfolio-main .comision-button button a:hover::after {
  transform: scaleX(0);
}

.comision-body {
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  background-color: #190c0b;
  font-family: "Playfair Display", serif;
}
.comision-body .comision-main .pricing-table {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.comision-body .comision-main .pricing-table .pricing-card {
  display: inline-flexbox;
  border-radius: 10px;
  padding: 20px;
  width: 270px;
  text-align: center;
  box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(43, 20, 18, 0.8274509804);
  transition: transform 0.3s;
}
.comision-body .comision-main .pricing-table .pricing-card .exchange {
  font-size: 24px;
  font-weight: bold;
}
.comision-body .comision-main .pricing-table .pricing-card .price {
  color: red;
}
.comision-body .comision-main .pricing-table .pricing-card ul {
  list-style-type: none;
  padding: 0;
}
.comision-body .comision-main .pricing-table .pricing-card ul li {
  margin: 10px 0;
}
.comision-body .comision-main .pricing-table .pricing-card .imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
.comision-body .comision-main .pricing-table .pricing-card .imageContainer img {
  width: 80px;
  height: 95px;
  border-radius: 5px;
  transition: transform 0.3s;
}
.comision-body .comision-main .pricing-table .pricing-card .imageContainer img:hover {
  transform: scale(1.7);
  height: 100px;
}
.comision-body .comision-main .pricing-table .pricing-card:hover {
  transform: scale(1.05);
}
.comision-body .comision-main .com-form-title h1 {
  margin-top: 15px;
  text-align: center;
}
.comision-body .comision-main .com-form-title h2 {
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
.comision-body .comision-main .form-container {
  max-width: 600px;
  margin: auto;
  margin-top: 5%;
  background-color: #190c0b;
  padding: 20px;
  border-radius: 8px;
  animation: glow 1.5s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.7), 0 0 10px rgba(255, 132, 17, 0.753), 0 0 15px rgba(255, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 30px rgba(216, 1, 1, 0.8), 0 0 40px rgba(255, 0, 0, 0.6);
  }
}
.comision-body .comision-main .form-container h3 {
  text-align: center;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
}
.comision-body .comision-main .form-container .formulario-comision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  color: #000000;
}
.comision-body .comision-main .form-container .formulario-comision .com-nombre,
.comision-body .comision-main .form-container .formulario-comision .com-apellido,
.comision-body .comision-main .form-container .formulario-comision .com-email,
.comision-body .comision-main .form-container .formulario-comision .com-telefono,
.comision-body .comision-main .form-container .formulario-comision .com-desc-title,
.comision-body .comision-main .form-container .formulario-comision .com-txt-area,
.comision-body .comision-main .form-container .formulario-comision .com-deseado,
.comision-body .comision-main .form-container .formulario-comision .ref-label,
.comision-body .comision-main .form-container .formulario-comision .subida-label {
  color: #f1e9e5;
  grid-column: span 2;
  font-size: 20px;
  text-shadow: 2px 2px 3px black;
}
.comision-body .comision-main .form-container .formulario-comision .com-nombre input,
.comision-body .comision-main .form-container .formulario-comision .com-apellido input,
.comision-body .comision-main .form-container .formulario-comision .com-email input,
.comision-body .comision-main .form-container .formulario-comision .com-telefono input,
.comision-body .comision-main .form-container .formulario-comision .com-desc-title input,
.comision-body .comision-main .form-container .formulario-comision .com-txt-area input,
.comision-body .comision-main .form-container .formulario-comision .com-deseado input,
.comision-body .comision-main .form-container .formulario-comision .ref-label input,
.comision-body .comision-main .form-container .formulario-comision .subida-label input {
  background: none;
  outline: none;
  border: none;
  color: #f1e9e5;
}
.comision-body .comision-main .form-container .formulario-comision .com-nombre input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-apellido input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-email input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-telefono input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-desc-title input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-txt-area input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .com-deseado input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .ref-label input::placeholder,
.comision-body .comision-main .form-container .formulario-comision .subida-label input::placeholder {
  color: #f1e9e5;
  opacity: 1;
}
.comision-body .comision-main .form-container .formulario-comision .com-deseado {
  display: flex;
  flex-direction: column;
}
.comision-body .comision-main .form-container .formulario-comision .com-deseado .checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.comision-body .comision-main .form-container .formulario-comision .com-deseado .psd-label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .publ-label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .res-label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .pers-label {
  color: #f1e9e5;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 3px black;
}
.comision-body .comision-main .form-container .formulario-comision .com-deseado .psd-label label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .publ-label label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .res-label label,
.comision-body .comision-main .form-container .formulario-comision .com-deseado .pers-label label {
  margin-right: 10px;
}
.comision-body .comision-main .form-container .formulario-comision input[type=text],
.comision-body .comision-main .form-container .formulario-comision input[type=email],
.comision-body .comision-main .form-container .formulario-comision input[type=file],
.comision-body .comision-main .form-container .formulario-comision textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #f1e9e5;
}
.comision-body .comision-main .form-container .formulario-comision textarea::placeholder {
  color: #f1e9e5;
  opacity: 1;
}
.comision-body .comision-main .form-container .formulario-comision textarea {
  resize: vertical; /* Permitir que el usuario cambie el tamaño verticalmente */
}
.comision-body .comision-main .form-container .formulario-comision .com-deseado {
  display: flex;
  flex-direction: column;
}
.comision-body .comision-main .form-container .formulario-comision .com-cancelar,
.comision-body .comision-main .form-container .formulario-comision .com-enviar {
  grid-column: 1fr 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.comision-body .comision-main .form-container .formulario-comision button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #f1e9e5;
  transition: background-color 0.3s;
}
.comision-body .comision-main .form-container .formulario-comision button[type=reset] {
  background-color: #dc3545;
}
.comision-body .comision-main .form-container .formulario-comision button:hover {
  background-color: #0056b3;
}
.comision-body .comision-main .form-container .formulario-comision button[type=reset]:hover {
  background-color: #c82333;
}

.comision-section {
  background-color: #190c0b;
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding-bottom: 5%;
}
.comision-section .title-com {
  text-align: center;
  text-decoration: underline;
  padding-top: 2%;
}
.comision-section .FAQ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 0.5%;
  padding-left: 2%;
  gap: 10px;
  grid-column-gap: 50px;
}
.comision-section .FAQ h2 {
  text-decoration: underline;
  text-align: left;
  padding-top: 2%;
  padding-left: 2%;
}
.comision-section .FAQ ul li {
  font-size: 18px;
  padding-top: 5px;
}

.about-body {
  font-family: "Playfair Display", serif;
  background-color: #2b1412;
}
.about-body .about-main .about-portada {
  width: 100%;
  height: 20vw;
  background-image: url(../img/school1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-body .about-main .about-portada h1 {
  text-shadow: 2px 2px 3px black;
}
.about-body .about-main .about-section {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2% 5% 5% 5%;
}
.about-body .about-main .about-section .about-pt1 {
  font-size: 20px;
  display: flex;
}
.about-body .about-main .about-section .about-pt1 img {
  width: 350px;
  height: 300px;
  margin-left: 2%;
}
.about-body .about-main .about-section .about-pt1 p {
  text-align: justify;
}
.about-body .about-main .about-section .about-pt2 {
  font-size: 20px;
  margin-top: 2%;
  text-align: justify;
}
.about-body .about-main .about-section .about-pt3 {
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.about-body .about-main .about-section .about-pt3 img {
  width: 350px;
  height: 300px;
  margin-right: 2%;
}
.about-body .about-main .about-section .about-pt3 p {
  text-align: justify;
}
.about-body .about-btn {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-body .about-btn button {
  background-color: none;
  text-decoration: none;
  background-color: #2b1412;
  border: none;
}
.about-body .about-btn button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.about-body .about-btn button a span {
  position: relative;
  z-index: 3;
}
.about-body .about-btn button a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #2b1412;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}
.about-body .about-btn button a:hover::before {
  transform: scaleY(0);
}
.about-body .about-btn button a::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #2b1412;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}
.about-body .about-btn button a:hover::after {
  transform: scaleX(0);
}

.contact-body {
  font-family: "Playfair Display", serif;
  background: #190c0b;
}
.contact-body .contact-main .contact-title h1 {
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
.contact-body .contact-main .contact-title h2 {
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
.contact-body .contact-main .form-container {
  max-width: 600px;
  margin: auto;
  margin-top: 5%;
  background-color: #190c0b;
  backdrop-filter: blur(10px);
  padding: 20px;
  border: none;
  border-radius: 8px;
  animation: glow 1.5s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.7), 0 0 10px rgba(255, 132, 17, 0.753), 0 0 15px rgba(255, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 30px rgba(216, 1, 1, 0.8), 0 0 40px rgba(255, 0, 0, 0.6);
  }
}
.contact-body .contact-main .form-container h3 {
  text-align: center;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
}
.contact-body .contact-main .form-container .formulario-comision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  color: #000000;
}
.contact-body .contact-main .form-container .formulario-comision .com-nombre,
.contact-body .contact-main .form-container .formulario-comision .com-apellido,
.contact-body .contact-main .form-container .formulario-comision .com-email,
.contact-body .contact-main .form-container .formulario-comision .com-telefono,
.contact-body .contact-main .form-container .formulario-comision .com-desc-title,
.contact-body .contact-main .form-container .formulario-comision .com-txt-area,
.contact-body .contact-main .form-container .formulario-comision .com-deseado,
.contact-body .contact-main .form-container .formulario-comision .ref-label,
.contact-body .contact-main .form-container .formulario-comision .subida-label {
  color: #f1e9e5;
  grid-column: span 2;
  font-size: 20px;
  text-shadow: 2px 2px 3px black;
}
.contact-body .contact-main .form-container .formulario-comision .com-nombre input,
.contact-body .contact-main .form-container .formulario-comision .com-apellido input,
.contact-body .contact-main .form-container .formulario-comision .com-email input,
.contact-body .contact-main .form-container .formulario-comision .com-telefono input,
.contact-body .contact-main .form-container .formulario-comision .com-desc-title input,
.contact-body .contact-main .form-container .formulario-comision .com-txt-area input,
.contact-body .contact-main .form-container .formulario-comision .com-deseado input,
.contact-body .contact-main .form-container .formulario-comision .ref-label input,
.contact-body .contact-main .form-container .formulario-comision .subida-label input {
  background: none;
  outline: none;
  border: none;
  color: #f1e9e5;
}
.contact-body .contact-main .form-container .formulario-comision .com-nombre input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-apellido input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-email input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-telefono input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-desc-title input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-txt-area input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .com-deseado input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .ref-label input::placeholder,
.contact-body .contact-main .form-container .formulario-comision .subida-label input::placeholder {
  color: #f1e9e5;
  opacity: 1;
}
.contact-body .contact-main .form-container .formulario-comision input[type=text],
.contact-body .contact-main .form-container .formulario-comision input[type=email],
.contact-body .contact-main .form-container .formulario-comision input[type=file],
.contact-body .contact-main .form-container .formulario-comision textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #f1e9e5;
}
.contact-body .contact-main .form-container .formulario-comision textarea::placeholder {
  color: #f1e9e5;
  opacity: 1;
}
.contact-body .contact-main .form-container .formulario-comision textarea {
  resize: vertical;
}
.contact-body .contact-main .form-container .formulario-comision .com-cancelar,
.contact-body .contact-main .form-container .formulario-comision .com-enviar {
  grid-column: 1fr 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contact-body .contact-main .form-container .formulario-comision button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #f1e9e5;
  transition: background-color 0.3s;
}
.contact-body .contact-main .form-container .formulario-comision button[type=reset] {
  background-color: #dc3545;
}
.contact-body .contact-main .form-container .formulario-comision button:hover {
  background-color: #0056b3;
}
.contact-body .contact-main .form-container .formulario-comision button[type=reset]:hover {
  background-color: #c82333;
}
.contact-body .contact-media {
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
}
.contact-body .contact-media .contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}
.contact-body .contact-media .contact-icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.contact-body .contact-media .contact-icon ul li {
  list-style: none;
}
.contact-body .contact-media .contact-icon ul li a {
  display: flex;
  text-decoration: none;
}
.contact-body .contact-media .contact-icon ul li i {
  color: #f1e9e5;
  font-size: 30px;
}

.footer {
  background-color: #000000;
  color: #f1e9e5;
  padding: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.footer h3 {
  margin-bottom: 10px;
}
.footer .footer-icon {
  margin-top: 20px;
}
.footer .footer-icon ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer .footer-icon ul li {
  list-style: none;
}
.footer .footer-icon ul li a {
  display: flex;
  text-decoration: none;
}
.footer .footer-icon ul li a i {
  color: #f1e9e5;
  font-size: 30px;
}
.footer .footer-menu {
  margin-top: 20px;
}
.footer .footer-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer .footer-menu ul li a {
  text-decoration: none;
  color: #f1e9e5;
  font-size: 20px;
}
.footer .footer-derechos {
  margin-top: 25px;
  margin-bottom: 0;
}
.footer .footer-derechos p {
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  header nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
    margin-top: 0;
  }
  header nav .logo a {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }
  header nav .menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    z-index: 4;
  }
  header nav .menu-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }
  header nav .menu-links.active {
    display: flex;
  }
  header nav .menu-links ul {
    flex-direction: column;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
  }
  header nav .menu-links ul li {
    display: block;
  }
  header nav .menu-links ul a {
    font-size: 18px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  .index-body {
    overflow-x: hidden;
  }
  .index-body .index-main {
    overflow-x: hidden;
  }
  .index-body .index-main .portada .image-container div {
    font-size: 3em;
  }
  @keyframes slideInLeft {
    0% {
      transform: translate(-150%, -50%);
    }
    100% {
      transform: translate(-65%, -50%);
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translate(150%, 50%);
    }
    100% {
      transform: translate(65%, 50%);
    }
  }
  .index-body .index-main .arrow {
    top: 75%;
  }
  .index-body .index-main .arrow span {
    width: 3vw;
    height: 3vw;
  }
  .index-body .index-main .galeria {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 15%;
  }
  .index-body .index-main .galeria .galeria-titulo {
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
  }
  .index-body .index-main .galeria .carousel-container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    transition: none;
  }
  .index-body .index-main .galeria .box {
    height: 200px;
    transform: none;
    filter: none;
    background-size: cover;
    background-position: center;
  }
  .index-body .index-main .galeria .carousel-container:hover .box {
    filter: none;
  }
  .index-body .index-main .galeria .carousel-container:has(.box-1:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-2:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-3:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-4:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-5:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-6:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-7:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-8:hover) {
    grid-template-columns: 1fr 1fr;
  }
  .index-body .index-main .galeria .boton-portfolio {
    text-align: center;
    margin-top: 20px;
  }
  .index-body .index-main .galeria .boton-portfolio button {
    padding: 10px 20px;
  }
  .index-body .index-main .galeria .boton-portfolio button a {
    font-size: 15px;
  }
  .index-body .index-main .comision-container {
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 70px;
  }
  .index-body .index-main .comision-container .comision-title h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5%;
  }
  .index-body .index-main .comision-container .comision-button {
    margin: 2% 0 2% 0;
  }
  .index-body .index-main .comision-container .comision-button button {
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 10px;
    color: black;
    width: 21vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-body .index-main .comision-container .comision-button button a {
    text-decoration: none;
    text-align: center;
  }
  .index-body .index-main .comision-container .comision-button button:hover {
    transform: none !important;
    transition: none !important;
  }
  .index-body .index-main .comision-container .comision-button button:active {
    transition: none !important;
    transform: none !important;
  }
  .index-body .index-main .comision-container .comision-text {
    margin-right: 2%;
    margin-left: 2%;
  }
  .index-body .index-main .comision-container .comision-text p {
    font-size: 12px;
    text-align: justify;
  }
  .index-body .index-main .about-index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 0;
  }
  .index-body .index-main .about-index .about-ix-title {
    font-size: 20px;
  }
  .index-body .index-main .about-index .about-ix-text p {
    font-size: 15px;
    text-align: justify;
  }
  .index-body .index-main .about-index .about-ix-img img {
    display: none;
  }
  .portfolio-body {
    overflow-x: hidden;
  }
  .portfolio-body .portfolio-main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .comision-body .comision-main .com-form-title h1 {
    font-size: 25px;
  }
  .comision-body .comision-main .com-form-title h2 {
    font-size: 20px;
  }
  .comision-body .comision-main .pricing-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .comision-body .comision-main .pricing-table .pricing-card {
    width: 100%;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer {
    transform: none;
    transition: none;
    gap: 10px;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer img {
    transition: none;
    object-fit: cover;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer img:hover {
    transform: none;
  }
  .comision-body .comision-main .pricing-table .pricing-card:hover {
    transform: none;
  }
  .comision-body .comision-main .form-container {
    margin-top: 10%;
    animation: none;
    border-radius: 8px;
    border: 2px solid #e2a09c;
  }
  .comision-body .comision-section {
    height: auto;
  }
  .comision-body .comision-section h2 {
    font-size: 20px;
    text-align: center;
  }
  .comision-body .comision-section .FAQ {
    margin: 0 5% 0 5%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .comision-body .comision-section .FAQ h2 {
    text-align: left;
    text-decoration: underline;
    font-size: 17px;
  }
  .comision-body .comision-section .FAQ p {
    text-align: justify;
    font-size: 15px;
  }
  .about-body {
    overflow-x: hidden;
  }
  .about-body .about-main .about-portada {
    width: 100%;
  }
  .about-body .about-main .about-section {
    display: flex;
    flex-direction: column;
    margin: 5% 2%;
    overflow-x: hidden;
  }
  .about-body .about-main .about-section .about-pt1, .about-body .about-main .about-section .about-pt3 {
    display: block;
    font-size: 14px;
  }
  .about-body .about-main .about-section .about-pt1 img, .about-body .about-main .about-section .about-pt3 img {
    width: 100%;
    height: auto;
    margin: 5% 0 2% 0;
  }
  .about-body .about-main .about-section .about-pt2 {
    margin-top: 2%;
    font-size: 14px;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
    margin-top: 0;
  }
  header nav .logo a {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }
  header nav .menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    z-index: 4;
  }
  header nav .menu-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }
  header nav .menu-links.active {
    display: flex;
  }
  header nav .menu-links ul {
    flex-direction: column;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
  }
  header nav .menu-links ul li {
    display: block;
  }
  header nav .menu-links ul a {
    font-size: 18px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  .index-body {
    overflow-x: hidden;
  }
  .index-body .index-main {
    overflow-x: hidden;
  }
  .index-body .index-main .portada .image-container div {
    font-size: 3em;
  }
  @keyframes slideInLeft {
    0% {
      transform: translate(-150%, -50%);
    }
    100% {
      transform: translate(-75%, -50%);
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translate(150%, 50%);
    }
    100% {
      transform: translate(75%, 50%);
    }
  }
  .index-body .index-main .arrow {
    top: 115%;
  }
  .index-body .index-main .arrow span {
    width: 3vw;
    height: 3vw;
  }
  .index-body .index-main .arrow[data-aos] {
    opacity: 1 !important;
    transition: none !important;
  }
  .index-body .index-main .galeria {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 15%;
  }
  .index-body .index-main .galeria .galeria-titulo {
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
  }
  .index-body .index-main .galeria .carousel-container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    transition: none;
  }
  .index-body .index-main .galeria .box {
    height: 200px;
    transform: none;
    filter: none;
    background-size: cover;
    background-position: center;
  }
  .index-body .index-main .galeria .carousel-container:hover .box {
    filter: none;
  }
  .index-body .index-main .galeria .carousel-container:has(.box-1:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-2:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-3:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-4:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-5:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-6:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-7:hover),
  .index-body .index-main .galeria .carousel-container:has(.box-8:hover) {
    grid-template-columns: 1fr 1fr;
  }
  .index-body .index-main .galeria .boton-portfolio {
    text-align: center;
    margin-top: 20px;
  }
  .index-body .index-main .galeria .boton-portfolio button {
    padding: 10px 20px;
  }
  .index-body .index-main .galeria .boton-portfolio button a {
    font-size: 18px;
  }
  .index-body .index-main .comision-container {
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 70px;
  }
  .index-body .index-main .comision-container .comision-title h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    margin-left: 3%;
  }
  .index-body .index-main .comision-container .comision-button {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .index-body .index-main .comision-container .comision-button button {
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 10px;
    color: black;
    width: 23vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-body .index-main .comision-container .comision-button button a {
    text-decoration: none;
    text-align: center;
  }
  .index-body .index-main .comision-container .comision-button button:hover {
    transform: none !important;
    transition: none !important;
  }
  .index-body .index-main .comision-container .comision-button button:active {
    transition: none !important;
    transform: none !important;
  }
  .index-body .index-main .comision-container .comision-text {
    margin-right: 2%;
    margin-left: 2%;
  }
  .index-body .index-main .comision-container .comision-text p {
    font-size: 18px;
    text-align: justify;
  }
  .index-body .index-main .about-index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 0;
  }
  .index-body .index-main .about-index .about-ix-title {
    font-size: 20px;
  }
  .index-body .index-main .about-index .about-ix-text p {
    font-size: 18px;
    text-align: justify;
  }
  .index-body .index-main .about-index .about-ix-img img {
    display: none;
  }
  .portfolio-body {
    overflow-x: hidden;
  }
  .portfolio-body .portfolio-main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .comision-body .comision-main .com-form-title h1 {
    font-size: 25px;
  }
  .comision-body .comision-main .com-form-title h2 {
    font-size: 20px;
  }
  .comision-body .comision-main .pricing-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .comision-body .comision-main .pricing-table .pricing-card {
    width: 100%;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer {
    transform: none;
    transition: none;
    gap: 10px;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer img {
    transition: none;
    object-fit: cover;
  }
  .comision-body .comision-main .pricing-table .pricing-card .imageContainer img:hover {
    transform: none;
  }
  .comision-body .comision-main .pricing-table .pricing-card:hover {
    transform: none;
  }
  .comision-body .comision-main .form-container {
    margin-top: 10%;
    animation: none;
    border-radius: 8px;
    border: 2px solid #e2a09c;
  }
  .comision-body .comision-section {
    height: auto;
  }
  .comision-body .comision-section h2 {
    font-size: 20px;
    text-align: center;
  }
  .comision-body .comision-section .FAQ {
    margin: 0 5% 0 5%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .comision-body .comision-section .FAQ h2 {
    text-align: left;
    text-decoration: underline;
    font-size: 17px;
  }
  .comision-body .comision-section .FAQ p {
    text-align: justify;
    font-size: 15px;
  }
  .about-body {
    overflow-x: hidden;
  }
  .about-body .about-main .about-portada {
    width: 100%;
  }
  .about-body .about-main .about-section {
    display: flex;
    flex-direction: column;
    margin: 5% 2%;
    overflow-x: hidden;
  }
  .about-body .about-main .about-section .about-pt1, .about-body .about-main .about-section .about-pt3 {
    display: block;
    font-size: 14px;
  }
  .about-body .about-main .about-section .about-pt1 img, .about-body .about-main .about-section .about-pt3 img {
    width: 100%;
    height: auto;
    margin: 5% 0 2% 0;
  }
  .about-body .about-main .about-section .about-pt2 {
    margin-top: 2%;
    font-size: 14px;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header nav .menu-links {
    gap: 10px;
  }
  header nav .menu-links ul li a {
    padding: 10px;
    font-size: 15px;
  }
  header nav button {
    display: none;
  }
  .index-body {
    overflow-x: hidden;
  }
  .index-body .index-main {
    overflow-x: hidden;
  }
  .index-body .index-main .portada .image-container div {
    font-size: 3em;
  }
  @keyframes slideInLeft {
    0% {
      transform: translate(-150%, -50%);
    }
    100% {
      transform: translate(-75%, -50%);
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translate(150%, 50%);
    }
    100% {
      transform: translate(75%, 50%);
    }
  }
  .index-body .index-main .arrow {
    top: 79%;
  }
  .index-body .index-main .arrow span {
    width: 3vw;
    height: 3vw;
  }
  .index-body .index-main .galeria {
    margin-top: 5%;
  }
  .index-body .index-main .galeria .galeria-titulo {
    font-size: 15px;
  }
  .index-body .index-main .galeria .boton-portfolio button a {
    font-size: 15px;
  }
  .index-body .index-main .comision-container {
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 15%;
  }
  .index-body .index-main .comision-container .comision-title h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
  }
  .index-body .index-main .comision-container .comision-button {
    margin-left: 17%;
    margin-bottom: 5%;
  }
  .index-body .index-main .comision-container .comision-button button {
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: black;
    width: 23vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-body .index-main .comision-container .comision-button button a {
    text-decoration: none;
    text-align: center;
  }
  .index-body .index-main .comision-container .comision-button button:hover {
    transform: none !important;
    transition: none !important;
  }
  .index-body .index-main .comision-container .comision-button button:active {
    transition: none !important;
    transform: none !important;
  }
  .index-body .index-main .comision-container .comision-text {
    margin-right: 5%;
    margin-left: 25%;
  }
  .index-body .index-main .comision-container .comision-text p {
    font-size: 15px;
    text-align: justify;
  }
  .index-body .index-main .about-index .about-ix-title {
    font-size: 15px;
    padding-top: 25%;
  }
  .index-body .index-main .about-index .about-ix-text p {
    font-size: 15px;
    text-align: justify;
  }
  .index-body .index-main .about-index .about-ix-img img {
    width: 355px;
    height: 250px;
  }
  .portfolio-body {
    overflow-x: hidden;
  }
  .portfolio-body .portfolio-main h1 {
    font-size: 25px;
  }
  .comision-body .comision-main .com-form-title h1 {
    font-size: 25px;
  }
  .comision-body .comision-main .com-form-title h2 {
    font-size: 20px;
  }
  .comision-body .comision-main .pricing-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    transform: none !important;
    transition: none !important;
  }
  .comision-body .comision-main .pricing-table .pricing-card {
    display: flex;
    align-items: flex-start;
    width: auto;
    transition: none !important;
    transform: none !important;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer .imageContainer img {
    object-fit: cover;
    transform: none !important;
    transition: none !important;
    pointer-events: none;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer .imageContainer img:hover {
    display: none !important;
  }
  .comision-body .comision-main .pricing-table .pricing-card ul {
    margin-left: 15%;
    text-align: center;
  }
  .comision-body .comision-main .pricing-table .pricing-card:hover {
    transform: none !important;
  }
  .comision-body .comision-main .form-container {
    margin-top: 5%;
  }
  .comision-body .comision-section {
    height: auto;
  }
  .comision-body .comision-section h2 {
    font-size: 20px;
    text-align: center;
  }
  .comision-body .comision-section .FAQ {
    margin: 0 5% 0 5%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .comision-body .comision-section .FAQ h2 {
    text-align: left;
    text-decoration: underline;
    font-size: 17px;
  }
  .comision-body .comision-section .FAQ p {
    text-align: justify;
    font-size: 15px;
  }
  .about-body {
    overflow-x: hidden;
  }
  .about-body .about-main .about-portada {
    width: 100%;
  }
  .about-body .about-main .about-section {
    overflow-x: hidden;
  }
  .about-body .about-main .about-section .about-pt1 {
    font-size: 15px;
  }
  .about-body .about-main .about-section .about-pt1 p {
    text-align: justify;
  }
  .about-body .about-main .about-section .about-pt2 {
    font-size: 15px;
    margin-top: 2%;
    text-align: justify;
    height: 250px;
  }
  .about-body .about-main .about-section .about-pt3 {
    margin-top: 0;
    font-size: 15px;
    display: flex;
    flex-direction: row-reverse;
    height: 150px;
  }
  .about-body .about-main .about-section .about-pt3 p {
    text-align: justify;
  }
  .footer {
    width: 100%;
  }
  .footer .footer-icon ul li a i {
    font-size: 20px;
  }
  .footer .footer-menu ul li a {
    font-size: 15px;
  }
  .footer .footer-derechos p {
    font-size: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header nav .menu-links {
    gap: 10px;
  }
  header nav .menu-links ul li a {
    padding: 10px;
  }
  header nav button {
    display: none;
  }
  .index-body {
    overflow-x: hidden;
  }
  .index-body .index-main {
    overflow-x: hidden;
  }
  .index-body .index-main .portada .image-container div {
    font-size: 4em;
  }
  .index-body .index-main .galeria {
    margin-top: 5%;
  }
  .index-body .index-main .galeria .galeria-titulo {
    font-size: 15px;
  }
  .index-body .index-main .galeria .boton-portfolio button a {
    font-size: 15px;
  }
  .index-body .index-main .comision-container .comision-button {
    margin-right: 5%;
  }
  .comision-body .comision-main .com-form-title h1 {
    font-size: 25px;
  }
  .comision-body .comision-main .com-form-title h2 {
    font-size: 20px;
  }
  .comision-body .comision-main .pricing-table .pricing-card {
    width: 190px;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer h2 {
    font-size: 20px;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer p {
    font-size: 15px;
  }
  .comision-body .comision-main .pricing-table .pricing-card .cardContainer .imageContainer img {
    width: 50px;
    height: 60px;
    object-fit: cover;
  }
  .comision-body .comision-main .form-container {
    margin-top: 5%;
  }
  .comision-body .comision-section {
    height: auto;
  }
  .comision-body .comision-section h2 {
    text-align: center;
  }
  .comision-body .comision-section .FAQ {
    padding: 0 4% 0 3%;
  }
  .comision-body .comision-section .FAQ h2 {
    text-align: left;
    text-decoration: underline;
  }
  .comision-body .comision-section .FAQ ul li {
    padding: 5px;
  }
}
@media (min-width: 1281px) and (max-width: 1440px) {
  header nav button {
    display: none;
  }
  .index-main .index-body .arrow {
    top: 100%;
  }
  .index-main .galeria {
    margin-top: 10%;
  }
  .comision-body .comision-main .pricing-table .pricing-card {
    width: 230px;
  }
  .comision-body .comision-main .pricing-table .cardContainer .imageContainer img {
    width: 65px;
    object-fit: cover;
  }
  .comision-body .comision-main .form-container {
    margin-top: 5%;
  }
}
@media (min-width: 1441px) {
  header nav button {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .galeria-titulo {
    margin-top: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
