@mixin pl-texto {
    color: #f1e9e5;
}
@mixin pl-background {
    background: #0c0806;
}
@mixin pl-primaria {
    background: #d12323; //(generalmente para botones)
}
@mixin pl-secundaria {
    background: #812e2e; //(para botones secundarios o inactivos y combinacion de backgrounds aparte del principal)
}
@mixin pl-acento {
    background: #c54040; //(generalmente para elementos o backgrounds apartes del principal)
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    @include pl-background;
    border-radius: 5px;
}

body {
    color: whitesmoke;
    @include pl-background;
    overflow-x: hidden;
}

header {
    nav {
        display: grid;
        grid-template-columns: 150px auto;
        align-items: center;
        position: relative;

        .logo a {
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            margin-left: 15px;
        }

        .menu-links {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
        }

        .menu-links ul {
            display: flex;
            list-style: none;
            padding: 0;
        }
        
        .menu-links ul li {
            display: inline;
        }
        
        .menu-links ul a {
            position: relative;
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 0.5rem 1rem;
            transition: color 0.25s;
        }

        .menu-links ul a::after {
            position: absolute;
            content: "";
            inset: 0;
            background: white;
            scale: 1 0;
            z-index: -1;
            transition: 0.45s;
            border-radius: 10px;
        }

        .menu-links ul a:hover {
            color: black;
        }
        
        .menu-links ul a:hover:after {
            scale: 1 1;

        }
    }
}

// PAGINA INDEX
.index-main {
    .portada {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .image-container {
            position: relative;
            z-index: 1; 
            opacity: 0;
            animation: fadeIn 1s forwards;
            animation-delay: 0.5s;
    
            img {
                max-width: 100%; /* Asegura que la imagen sea responsiva */
                height: auto;
                mask-image: linear-gradient(black, transparent);
                filter: drop-shadow(25px 5px 3px black);
            }
    
            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 5em; /* Tamaño de la fuente */
                color: rgba(255, 255, 255, 0.7); /* Color del texto */
                text-align: center;
                z-index: 0; /* Asegura que el texto esté detrás de la imagen */
                opacity: 0;
                animation: fadeInText 1s forwards;
                animation-delay: 1.5s; /* Retraso para que aparezca después de la imagen */
    
                .part1 {
                    transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
                    animation: slideInLeft 1s forwards; /* Animación de entrada desde la izquierda */
                    animation-delay: 1s; /* Retraso para el texto */
                }
                
                .part2 {
                    transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
                    animation: slideInRight 1s forwards; /* Animación de entrada desde la derecha */
                    animation-delay: 1s; /* Retraso para el texto */
                }
                
                span {
                    display: inline-block; /* Permite que se parta en dos */
                }
            }
    
            @keyframes fadeIn {
                to {
                    opacity: 1; /* Finaliza completamente visible */
                }
            }
            
            @keyframes fadeInText {
                to {
                    opacity: 1; /* Hace que el texto sea visible */
                }
            }
            
            @keyframes slideInLeft {
                0% {
                    transform: translate(-150%, -50%); /* Comienza fuera de la pantalla a la izquierda */
                }
                100% {
                    transform: translate(-80%, -50%); /* Termina en el centro */
                }
            }
            
            @keyframes slideInRight {
                0% {
                    transform: translate(150%, -50%); /* Comienza fuera de la pantalla a la derecha */
                }
                100% {
                    transform: translate(80%, -50%); /* Termina en el centro */
                }
            }
            
        }   
    }

    .arrow {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(360deg);
        cursor: pointer;

        span {
            display: block;
            width: 1.5vw;
            height: 1.5vw;
            border-bottom: 5px solid white;
            border-right: 5px solid white;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }
        span:nth-child(2) {
            animation-delay: -0.2s;
        }
        span:nth-child(3) {
            animation-delay: -0.4s;
        }
        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    }

    // CARRUSEL
    .galeria {
        margin-top: 5%;

        .galeria-titulo {
            text-align: center;
            font-size: 20px;
            margin-bottom: 50px;
        }

        .carousel-container {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 15px;
            width: 80%;
            height: 375px;
            transition: all 400ms;
            margin-left: 10%;
        }
    
        .carousel-container:hover .box {
            filter: grayscale(100%) opacity(24%);
        }
    
        .box {
            position: relative;
            background: var(--img) center center;
            background-size: cover;
            transition: all 400ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .carousel-container .box:hover {
            filter: grayscale(0%) opacity(100%);
        }
    
        .carousel-container:has(.box-1:hover) {
            grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-2:hover) {
            grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-3:hover) {
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-4:hover) {
            grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-5:hover) {
            grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-6:hover) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
        }
    
        .carousel-container:has(.box-7:hover) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
        }
    
        .carousel-container:has(.box-8:hover) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
        }
    
        .box:nth-child(odd) {
            transform: translateY(-16px);
        }
    
        .box:nth-child(even) {
            transform: translateY(16px);
        }
    
        .boton-portfolio {
            display: flex;
            justify-content: center;

            button {
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.7);
                border-radius: 10px;
                margin-top: 30px;
                padding: 10px 20px;
                cursor: pointer;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 25px;
                }
            }

            button:hover {
                box-shadow: 0 0 40px 40px #d12323 inset;
                border: none;
            }
        }    
    }
    // APARTADO DE COMISIONES
    .comision-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        color: white;
        margin: auto;
        margin-top: 150px;
        @include pl-secundaria;
        width: 95%;
        height: 250px;
        background-image: url(../img/bg-1.jpeg);
        background-size: cover;

        .comision-title {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .comision-title h2 {
            font-size: 40px;
        }

        .comision-button {
            grid-column-start: 1;
            grid-row-start: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                @include pl-acento;
                border: 1px solid whitesmoke;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 25px;
                }
            }

            button:hover {
                box-shadow: 0 0 40px 40px #0c0806 inset;
                border: none;
            }
        }
                        
        .comision-text {
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 20px;
            }
        }
    }

    // APARTADO SOBRE MI
    .about-index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        margin: auto;
        color: white;
        margin-top: 150px;
        margin-bottom: 100px;
        // @include pl-secundaria;
        width: 95%;
        height: 350px;
        

        .about-ix-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }

        .about-ix-text {
            grid-column-start: 1;
            grid-row-start: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 150px;

            p {
                font-size: 20px;
            }
        }

        .about-ix-img {
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 550px;
                height: 375px;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
        }
    }
}

// PAGINA PORTFOLIO
.portfolio-body {
    .portfolio-main {
        h1 {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 20px 0;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 10px;
    
            .gallery-item {
                position: relative;
                overflow: hidden;
            }
    
            .gallery-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
    
            .gallery-item:hover .overlay {
                opacity: 1;
            }
    
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                box-sizing: border-box;
    
                .text {
                    text-align: center;
                    padding: 10px;
                }
            }
        }
        .comision-button {
            display: flex;
            justify-content: center;
    
            button {
                background-color: transparent;
                border: solid rgba(255, 255, 255, 0.7);
                border-radius: 10px;
                margin-top: 3%;
                margin-bottom: 5%;
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s;
                // @include pl-secundaria;
    
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 25px;
                }
            }
            button:hover {
                @include pl-primaria;
                border: none;
            }
        }
    }
    
}
// PAGINA COMISION
.comision-body {
    background-image: url(../img/img-19.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;

    .comision-main {
        .com-form-title {
            h1 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }

            h2 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }
        }
    
        .form-container {
            max-width: 600px;
            margin: auto;
            margin-top: 15px;
            background: transparent;
            backdrop-filter: blur(10px);
            padding: 20px;
            border: solid rgba(245, 245, 245, 0.774);
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h3 {
                text-align: center;
                text-shadow: 2px 2px 3px black;
                font-size: 20px;
            }
    
            .formulario-comision {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                color: #000000;
    
                .com-nombre,
                .com-apellido,
                .com-email,
                .com-telefono,
                .com-desc-title,
                .com-txt-area,
                .com-deseado,
                .ref-label,
                .subida-label {
                    color: white;
                    grid-column: span 2;
                    font-size: 20px;
                    text-shadow: 2px 2px 3px black;
    
                    input {
                        background: none;
                        outline: none;
                        border: none;
                        color: white;
                    }

                    input::placeholder {
                        color: white;
                        opacity: 1;
                    }
                }

                .com-deseado {
                    display: flex;
                    flex-direction: column;
                
                    .checkbox-container {
                        display: flex; 
                        flex-wrap: wrap; 
                        gap: 15px;
                    }
                
                    .psd-label,
                    .publ-label,
                    .res-label,
                    .pers-label {
                        color: white;
                        display: flex;
                        align-items: center;
                        text-shadow: 2px 2px 3px black;
                
                        label {
                            margin-right: 10px;
                        }
                    }
                }
    
                input[type="text"],
                input[type="email"],
                input[type="file"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: transparent;
                    color: white;
                }

                textarea::placeholder {
                    color: white;
                    opacity: 1;
                }
    
                textarea {
                    resize: vertical; /* Permitir que el usuario cambie el tamaño verticalmente */
                }
                
                .com-deseado {
                    display: flex;
                    flex-direction: column;
                }
    
                .com-cancelar,
                .com-enviar {
                    grid-column: 1fr 1fr;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
    
                button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #007bff;
                    color: white;
                    transition: background-color 0.3s;
                }
    
                button[type="reset"] {
                    background-color: #dc3545; 
                }
    
                button:hover {
                    background-color: #0056b3;
                }
    
                button[type="reset"]:hover {
                    background-color: #c82333;
                }
            }
    
        }
    }
}

.comision-section {
    background-color: #000000;
    width: 100%;
    height: 30rem;
    margin-top: 10%;
    
    h2 {
        text-align: left;
        text-shadow: 2px 2px 3px black;
        padding-top: 2%;
        padding-left: 2%;
    }

    .FAQ {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 0.5%;
        padding-left: 2%;
        gap: 10px;
    }
    
}

// PAGINA SOBRE MI
.about-body {
    background-color: #362d29;
    .about-main {
        .about-portada {
            width: 100%;
            height: 20vw;
            background-image: url(../img/school1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
    
            h1 {
                text-shadow: 2px 2px 3px black;
            }
        }
    
        .about-section {
            overflow-x: hidden;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 2% 5% 5% 5%;
    
            .about-pt1 {
                font-size: 20px;
                display: flex;
    
                img {
                    width: 350px;
                    height: 300px;
                    margin-left: 2%;
                }
                p {
                    text-align: justify;
                }
            }
    
            .about-pt2 {
                font-size: 20px;
                margin-top: 2%;
                text-align: justify;
            }
    
            .about-pt3 {
                font-size: 20px;
                display: flex;
                flex-direction: row-reverse;
    
                img {
                    width: 350px;
                    height: 300px;
                    margin-right: 2%;
                }
    
                p {
                    text-align: justify;
                }
            }
        }
    }

    .about-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        
        button {
            width: 180px;
            height: 70px;
            background-color: transparent;
            border: 1px solid transparent;
            cursor: pointer;
            border-radius: 10px;
            color: white;
            font-size: 25px;
            margin-top: 5%;
            margin-bottom: 5%;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

            a {
                color: white;
                text-decoration: none;
            }
        }
        button:hover {
            color: white;
            border: 1px solid gray;
            box-shadow: 0 0 40px 40px #1f1a18 inset;
        }
    }
}

// PAGINA DE CONTACTO
.contact-body {
    background-image: url(../img/img-15.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;

    .contact-main {
        .contact-title {
            h1 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }

            h2 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }
        }

        .form-container {
            max-width: 600px;
            margin: auto;
            margin-top: 15px;
            background: transparent;
            backdrop-filter: blur(10px);
            padding: 20px;
            border: solid rgba(245, 245, 245, 0.774);
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h3 {
                text-align: center;
                text-shadow: 2px 2px 3px black;
                font-size: 20px;
            }
    
            .formulario-comision {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                color: #000000;
    
                .com-nombre,
                .com-apellido,
                .com-email,
                .com-telefono,
                .com-desc-title,
                .com-txt-area,
                .com-deseado,
                .ref-label,
                .subida-label {
                    color: white;
                    grid-column: span 2;
                    font-size: 20px;
                    text-shadow: 2px 2px 3px black;
    
                    input {
                        background: none;
                        outline: none;
                        border: none;
                        color: white;
                    }

                    input::placeholder {
                        color: white;
                        opacity: 1;
                    }
                }

                input[type="text"],
                input[type="email"],
                input[type="file"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: transparent;
                    color: white;
                }

                textarea::placeholder {
                    color: white;
                    opacity: 1;
                }
    
                textarea {
                    resize: vertical;
                }
    
                .com-cancelar,
                .com-enviar {
                    grid-column: 1fr 1fr;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
    
                button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #007bff;
                    color: white;
                    transition: background-color 0.3s;
                }
    
                button[type="reset"] {
                    background-color: #dc3545; 
                }
    
                button:hover {
                    background-color: #0056b3;
                }
    
                button[type="reset"]:hover {
                    background-color: #c82333;
                }
            }
    
        }
    }

    .contact-media {
        margin-top: 5%;
        text-align: center;
        font-size: 20px;

        .contact-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2%;
            margin-bottom: 5%;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 25px;

                li {
                    list-style: none;

                    a {
                        display: flex;
                        text-decoration: none;
                    }

                    i {
                        color: white;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
// FOOTER
.footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    //margin-top: 150px;

    h3 {
        margin-bottom: 10px;
    }

    .footer-icon {
        margin-top: 20px;
        ul {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
    
            li {
                list-style: none;
    
                a{
                    display: flex;
                    text-decoration: none;
    
                    i {
                        color: white;
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .footer-menu {
        margin-top: 20px;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 20px;

            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }

    .footer-derechos {
        margin-top: 25px;
        margin-bottom: 0;
        p {
            font-size: 20px;
        }
    }
    
}

// MEDIA QUERIES
@media (min-width: 320px) and (max-width: 480px) {
    header {
        nav {
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            z-index: 2;

            .logo a {
                font-size: 24px;
                margin-left: 0; 
                text-align: center; 
            }

            .menu-toggle {
                background: none;
                border: none;
                color: white;
                font-size: 30px;
                cursor: pointer;
                margin-left: auto;
                z-index: 4;
            }

            .menu-links {
                display: none;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                align-items: center;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
            }

            .menu-links.active {
                display: flex;
            }

            .menu-links ul {
                flex-direction: column;
                padding: 0;
                align-items: center;
                width: 100%;
            }

            .menu-links ul li {
                display: block;
            }

            .menu-links ul a {
                font-size: 18px;
                padding: 0.5rem;
                width: 100%;
                text-align: center;
                color: white;
                text-decoration: none;
            }
        }
    }
    // INDEX
    .index-body {
        overflow-x: hidden;
        .index-main {
            overflow-x: hidden;
            .portada {
                .image-container {                    
                    div {
                        font-size: 3em; // Reducir el tamaño de la fuente
                    }

                    @keyframes slideInLeft {
                        0% {
                            transform: translate(-150%, -50%);
                        }
                        100% {
                            transform: translate(-65%, -50%);
                        }
                    }
                    @keyframes slideInRight {
                        0% {
                            transform: translate(150%, 50%);
                        }
                        100% {
                            transform: translate(65%, 50%);
                        }
                    }
                }
            }
    
            .arrow {
                top: 75%;
                span {
                    width: 3vw;
                    height: 3vw;
                }
            }
    
            .galeria {
                overflow-x: hidden;
                margin-top: 15%;
                .galeria-titulo {
                    font-size: 16px;
                    text-align: center;
                    margin-top: 70px;
                    margin-bottom: 35px; 
                }        
    
                .carousel-container {
                    grid-template-columns: 1fr 1fr;
                    height: auto;
                    transition: none; 
                }
        
                .box {
                    height: 200px;
                    transform: none;
                    filter: none; 
                    background-size: cover;
                    background-position: center;
                }

                .carousel-container:hover .box {
                    filter: none; 
                }

                .carousel-container:has(.box-1:hover),
                .carousel-container:has(.box-2:hover),
                .carousel-container:has(.box-3:hover),
                .carousel-container:has(.box-4:hover),
                .carousel-container:has(.box-5:hover),
                .carousel-container:has(.box-6:hover),
                .carousel-container:has(.box-7:hover),
                .carousel-container:has(.box-8:hover) {
                    grid-template-columns: 1fr 1fr;
                }
    
                .boton-portfolio {
                    text-align: center;
                    margin-top: 20px;
                    button {
                        font-size: 18px;
                        padding: 10px 20px;
                    }
                }
            }
    
            .comision-container {
                grid-template-columns: 1fr;
                height: auto;
                margin-top: 70px;
    
                .comision-title {
                    h2 {
                        font-size: 25px;
                        text-align: center;
                        margin-top: 5px;
                    }
                }

                .comision-button {
                    button {
                        width: 36vw;
                        height: 10vw;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        a {
                            margin-bottom: 25px;
                            font-size: 11px;
                            text-align: center;
                        }
                    }
                }
    
                .comision-text {
                    margin-right: 5px;
                    p {
                        font-size: 12px;
                        text-align: justify;
                    }
                }
            }
    
            .about-index {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                margin-bottom: 0;
    
                .about-ix-title {
                    font-size: 23px;
                }
    
                .about-ix-text p {
                    font-size: 20px;
                    text-align: justify;
                }
    
                .about-ix-img img {
                    display: none;
                }
            }
        }
    }
    
    // PORTAFOLIO
    .portfolio-body {
        overflow-x: hidden;

        .portfolio-main {
            .gallery {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    // COMISIONES
    .comision-body {
        background-size: cover;
        .comision-section {
            height: auto;
            //margin-bottom: 90%;
            h2 {
                font-size: 20px;
            }
            .FAQ {
                margin: 0 3% 0 2%;
                display: grid;
                grid-template-columns: 1fr;
                h2 {
                    text-align: left;
                    text-decoration: underline;
                    font-size: 17px;
                }
                p {
                    text-align: justify;
                    font-size: 15px;
                    margin-bottom: 10%;
                }
            }
        }
    }

    // ABOUT
    .about-body {
        overflow-x: hidden;

        .about-main {
            .about-portada {
                width: 100%;
            }

            .about-section {
                display: flex;
                flex-direction: column;
                margin: 5% 2%;
                overflow-x: hidden;

                .about-pt1, .about-pt3 {
                    display: block;
                    font-size: 14px; 
                }
                .about-pt1 img, .about-pt3 img {
                    width: 100%;
                    height: auto; 
                    margin: 5% 0 2% 0; 
                }
                .about-pt2 {
                    margin-top: 2%;
                    font-size: 14px;
                }
            }
        }
    }

    // CONTACTO


    .footer {
        width: 100%;
        .footer-menu {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header {
        nav {
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            z-index: 2;

            .logo a {
                font-size: 24px;
                margin-left: 0; 
                text-align: center; 
            }

            .menu-toggle {
                background: none;
                border: none;
                color: white;
                font-size: 30px;
                cursor: pointer;
                margin-left: auto;
                z-index: 4;
            }

            .menu-links {
                display: none;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                align-items: center;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
            }

            .menu-links.active {
                display: flex;
            }

            .menu-links ul {
                flex-direction: column;
                padding: 0;
                align-items: center;
                width: 100%;
            }

            .menu-links ul li {
                display: block;
            }

            .menu-links ul a {
                font-size: 18px;
                padding: 0.5rem;
                width: 100%;
                text-align: center;
                color: white;
                text-decoration: none;
            }
        }
    }
    // INDEX
    .index-body {
        overflow-x: hidden;
        .index-main {
            overflow-x: hidden;
            .portada {
                .image-container {                    
                    div {
                        font-size: 3em; // Reducir el tamaño de la fuente
                    }

                    @keyframes slideInLeft {
                        0% {
                            transform: translate(-150%, -50%);
                        }
                        100% {
                            transform: translate(-75%, -50%);
                        }
                    }
                    @keyframes slideInRight {
                        0% {
                            transform: translate(150%, 50%);
                        }
                        100% {
                            transform: translate(75%, 50%);
                        }
                    }
                }
            }
    
            .arrow {
                top: 115%;
                span {
                    width: 3vw;
                    height: 3vw;
                }
            }

            .arrow[data-aos] {
                opacity: 1 !important;
                transition: none !important;
            }
    
            .galeria {
                overflow-x: hidden;
                margin-top: 15%;
                .galeria-titulo {
                    font-size: 16px;
                    text-align: center;
                    margin-top: 70px;
                    margin-bottom: 35px; 
                }        
    
                .carousel-container {
                    grid-template-columns: 1fr 1fr;
                    height: auto;
                    transition: none; 
                }
        
                .box {
                    height: 200px;
                    transform: none;
                    filter: none; 
                    background-size: cover;
                    background-position: center;
                }

                .carousel-container:hover .box {
                    filter: none; 
                }

                .carousel-container:has(.box-1:hover),
                .carousel-container:has(.box-2:hover),
                .carousel-container:has(.box-3:hover),
                .carousel-container:has(.box-4:hover),
                .carousel-container:has(.box-5:hover),
                .carousel-container:has(.box-6:hover),
                .carousel-container:has(.box-7:hover),
                .carousel-container:has(.box-8:hover) {
                    grid-template-columns: 1fr 1fr;
                }
    
                .boton-portfolio {
                    text-align: center;
                    margin-top: 20px;
                    button {
                        font-size: 18px;
                        padding: 10px 20px;
                    }
                }
            }
    
            .comision-container {
                grid-template-columns: 1fr;
                height: auto;
                margin-top: 70px;
    
                .comision-title {
                    h2 {
                        font-size: 25px;
                        text-align: center;
                        margin-top: 5px;
                    }
                }

                .comision-button {
                    button {
                        width: 36vw;
                        height: 10vw;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        a {
                            margin-bottom: 25px;
                            font-size: 11px;
                            text-align: center;
                        }
                    }
                }
    
                .comision-text {
                    margin-right: 5px;
                    p {
                        font-size: 12px;
                        text-align: justify;
                    }
                }
            }
    
            .about-index {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                margin-bottom: 0;
    
                .about-ix-title {
                    font-size: 23px;
                }
    
                .about-ix-text p {
                    font-size: 20px;
                    text-align: justify;
                }
    
                .about-ix-img img {
                    display: none;
                }
            }
        }
    }
    
    // PORTAFOLIO
    .portfolio-body {
        overflow-x: hidden;

        .portfolio-main {
            .gallery {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    // COMISIONES
    .comision-body {
        background-size: cover;
        .comision-section {
            height: auto;
            //margin-bottom: 90%;
            h2 {
                font-size: 20px;
            }
            .FAQ {
                margin: 0 3% 0 2%;
                display: grid;
                grid-template-columns: 1fr;
                h2 {
                    text-align: left;
                    text-decoration: underline;
                    font-size: 17px;
                }
                p {
                    text-align: justify;
                    font-size: 15px;
                    margin-bottom: 10%;
                }
            }
        }
    }

    // ABOUT
    .about-body {
        overflow-x: hidden;

        .about-main {
            .about-portada {
                width: 100%;
            }

            .about-section {
                display: flex;
                flex-direction: column;
                margin: 5% 2%;
                overflow-x: hidden;

                .about-pt1, .about-pt3 {
                    display: block;
                    font-size: 14px; 
                }
                .about-pt1 img, .about-pt3 img {
                    width: 100%;
                    height: auto; 
                    margin: 5% 0 2% 0; 
                }
                .about-pt2 {
                    margin-top: 2%;
                    font-size: 14px;
                }
            }
        }
    }

    // CONTACTO


    .footer {
        width: 100%;
        .footer-menu {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        nav {
            .menu-links {
                gap: 10px;
                ul {
                    li {
                        a {
                            padding: 10px;
                            font-size: 15px;
                        }
                    }
                }
            }
            button {
                display: none;
            }
        }
    }
    // INDEX
    .index-body {
        overflow-x: hidden;
        .index-main {
            overflow-x: hidden;
            .portada {
                .image-container {                    
                    div {
                        font-size: 3em; // Reducir el tamaño de la fuente
                    }

                    @keyframes slideInLeft {
                        0% {
                            transform: translate(-150%, -50%);
                        }
                        100% {
                            transform: translate(-75%, -50%);
                        }
                    }
                    @keyframes slideInRight {
                        0% {
                            transform: translate(150%, 50%);
                        }
                        100% {
                            transform: translate(75%, 50%);
                        }
                    }
                }
            }
    
            .arrow {
                top: 79%;
                span {
                    width: 3vw;
                    height: 3vw;
                }
            }
    
            .galeria {
                //overflow-x: hidden;
                margin-top: 5%;
                
                .galeria-titulo {
                    font-size: 15px;
                }

                .boton-portfolio {
                    button {
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
    
            .comision-container {
                grid-template-columns: 1fr;
                height: auto;
                margin-top: 15%;
    
                .comision-title {
                    h2 {
                        font-size: 25px;
                        text-align: center;
                        margin-top: 5%;
                        margin-left: 25%;
                    }
                }

                .comision-button {
                    button {
                        width: 25vw;
                        height: 7vw;
                        margin-left: 25%;
                        margin-bottom: 5%;
                        a {
                            margin-bottom: 25px;
                            font-size: 11px;
                            text-align: center;
                        }
                    }
                }
    
                .comision-text {
                    margin-right: 5%;
                    margin-left: 25%;
                    p {
                        font-size: 15px;
                        text-align: justify;
                    }
                }
            }
    
            .about-index {
                
                .about-ix-title {
                    font-size: 15px;
                    padding-top: 25%;
                }
    
                .about-ix-text {
                    p {
                        font-size: 15px;
                        text-align: justify;
                    }
                }
    
                .about-ix-img {
                    img {
                        width: 355px;
                        height: 250px;
                    }
                }
            }
        }
    }
    
    // PORTAFOLIO
    .portfolio-body {
        overflow-x: hidden;
        .portfolio-main {
            h1 {
                font-size: 15px;
            }
        }
    }

    // COMISIONES
    .comision-body {
        background-size: cover;
        .comision-main {
            .com-form-title {
                h1 {
                    font-size: 25px;
                }
                h2 {
                    font-size: 20px;
                }
            }
        }

        .comision-section {
            height: auto;
            //margin-bottom: 90%;
            h2 {
                font-size: 20px;
            }
            .FAQ {
                margin: 0 3% 0 2%;
                display: grid;
                grid-template-columns: 1fr;
                h2 {
                    text-align: left;
                    text-decoration: underline;
                    font-size: 17px;
                }
                p {
                    text-align: justify;
                    font-size: 15px;
                    margin-bottom: 10%;
                }

                .Q1,
                .Q2,
                .Q3,
                .Q4,
                .Q5,
                .Q6 {
                    height: 100px;
                }
            }
        }
    }

    // ABOUT
    .about-body {
        overflow-x: hidden;

        .about-main {
            .about-portada {
                width: 100%;
            }

            .about-section {
                overflow-x: hidden;
                .about-pt1 {
                    font-size: 15px;
        
                    // img {
                    //     width: 350px;
                    //     height: 300px;
                    //     margin-left: 2%;
                    // }
                    p {
                        text-align: justify;
                    }
                }
        
                .about-pt2 {
                    font-size: 15px;
                    margin-top: 2%;
                    text-align: justify;
                    height: 250px;
                }
        
                .about-pt3 {
                    margin-top: 0;
                    font-size: 15px;
                    display: flex;
                    flex-direction: row-reverse;
                    height: 150px;
        
                    // img {
                    //     width: 350px;
                    //     height: 300px;
                    //     margin-right: 2%;
                    // }
        
                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }

    // CONTACTO


    .footer {
        width: 100%;

        .footer-icon {
            ul {
                li {
                    a {
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .footer-menu {
            ul {
                li {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        .footer-derechos {
            p {
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        nav {
            .menu-links {
                gap: 10px;
                ul {
                    li {
                        a {
                            padding: 10px;
                        }
                    }
                }
            }
            button {
                display: none;
            }
        }
    }
    // INDEX
    .index-body {
        overflow-x: hidden;
        .index-main {
            overflow-x: hidden;
            .portada {
                .image-container {                    
                    div {
                        font-size: 4em; //
                    }
                }
            }
    
            .galeria {
                //overflow-x: hidden;
                margin-top: 5%;
                
                .galeria-titulo {
                    font-size: 15px;
                }

                .boton-portfolio {
                    button {
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    
    // PORTAFOLIO SIN CAMBIOS

    // COMISIONES SIN CAMBIOS

    // SOBRE MI SIN CAMBIOS
}

@media (min-width: 1281px) and (max-width: 1440px) {
    header {
        nav {
            button {
                display: none;
            }
        }
    }

    .index-main {
        .index-body {
            .arrow {
                top: 100%;
            }
        }

        .galeria {
            margin-top: 10%;
        }
    }
}

@media (min-width: 1441px) {
    header {
        nav {
            button {
                display: none;
            }
        }
    }

    body {
        overflow-x: hidden;
    }

    .galeria-titulo {
        margin-top: 10%;
    }
}