// PALETA DE COLORES
// $color-primary: #d12323; // Generalmente para botones
// $color-secondary: #812e2e; // Para botones secundarios o inactivos y combinacion de background aparte del principal
// $color-accent: #c54040; // Generalmente para elementos o diferenciar background
// $color-background: #0c0806; // Fondo claro
// $color-text: #f1e9e5; // Texto oscuro
$font: "Playfair Display", serif;

$color-primary: #e2a09c; // Generalmente para botones
$color-secondary: #8c1c18; // Para botones secundarios o inactivos y combinacion de background aparte del principal
$color-accent: #f02019; // Generalmente para elementos o diferenciar background
$color-background: #190c0b; // Fondo oscuro
$color-background-light: #2b1412d3; // Fondo claro
$color-text: #f1e9e5; // Texto oscuro

// MAPA
$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  accent: $color-accent,
  background: $color-background,
  backgroundL: $color-background-light,
  text: $color-text,
  font-family: $font,
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// SCROLL
@import './components/scrollbar';

// BOTONES
@import './components/buttons';


body {
    color: whitesmoke;
    background-color: $color-background;
    overflow-x: hidden;
}

// MENU DE NAVEGACION
@import './components/navbar';

// PAGINA INDEX
@import './pages/index';

// PAGINA PORTFOLIO
@import './pages/portfolio';

// PAGINA COMISION
@import './pages/comision';

// PAGINA SOBRE MI
@import './pages/about';

// PAGINA DE CONTACTO
@import './pages/contact';

// FOOTER
@import './components/footer';

// MEDIA QUERIES
@import './components/media-queries';