// PALETA DE COLORES
$color-primary: #d12323; // Generalmente para botones
$color-secondary: #812e2e; // Para botones secundarios o inactivos y combinacion de background aparte del principal
$color-accent: #c54040; // Generalmente para elementos o diferenciar background
$color-background: #0c0806; // Fondo claro
$color-text: #f1e9e5; // Texto oscuro

// MAPA
$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  accent: $color-accent,
  background: $color-background,
  text: $color-text,
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del scroll */
@import './components/scrollbar';

body {
    color: whitesmoke;
    background-color: $color-background;
    overflow-x: hidden;
}

// MENU DE NAVEGACION
@import './components/navbar';

// PAGINA INDEX
@import './pages/index';

// PAGINA PORTFOLIO
@import './pages/portfolio';

// PAGINA COMISION
@import './pages/comision';

// PAGINA SOBRE MI
@import './pages/about';

// PAGINA DE CONTACTO
@import './pages/contact';

// FOOTER
@import './components/footer';

// MEDIA QUERIES
@import './components/media-queries';