.comision-body {
    //background-image: url(../img/img-19.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    background-color: #1d1d1d;
    font-family: $font;

    .comision-main {
        .pricing-table {
            display: flex;
            justify-content: space-around;
            margin: 20px;

            .pricing-card {
                display: inline-flexbox;
                border-radius: 10px;
                padding: 20px;
                width: 270px;
                text-align: center;
                box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.2);
                background-color: #313131;
                transition: transform 0.3s;

                .exchange {
                    font-size: 24px;
                    font-weight: bold;
                }
                
                .price {
                    color: red;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin: 10px 0;
                    }
                }

                .imageContainer {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    gap: 5px;

                    img {
                        width: 80px;
                        height: 95px; 
                        border-radius: 5px;
                        transition: transform 0.3s; 
                    }
                    img:hover {
                        transform: scale(1.70);
                        height: 100px;
                    }
                }
            }

            .pricing-card:hover {
                transform: scale(1.05);
            }
        }
        
        .com-form-title {
            h1 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }

            h2 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }
        }
    
        .form-container {
            max-width: 600px;
            margin: auto;
            margin-top: 5%;
            background: transparent;
            backdrop-filter: blur(10px);
            padding: 20px;
            border: solid rgba(245, 245, 245, 0.774);
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h3 {
                text-align: center;
                text-shadow: 2px 2px 3px black;
                font-size: 20px;
            }
    
            .formulario-comision {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                color: #000000;
    
                .com-nombre,
                .com-apellido,
                .com-email,
                .com-telefono,
                .com-desc-title,
                .com-txt-area,
                .com-deseado,
                .ref-label,
                .subida-label {
                    color: $color-text;
                    grid-column: span 2;
                    font-size: 20px;
                    text-shadow: 2px 2px 3px black;
    
                    input {
                        background: none;
                        outline: none;
                        border: none;
                        color: $color-text;
                    }

                    input::placeholder {
                        color: $color-text;
                        opacity: 1;
                    }
                }

                .com-deseado {
                    display: flex;
                    flex-direction: column;
                
                    .checkbox-container {
                        display: flex; 
                        flex-wrap: wrap; 
                        gap: 15px;
                    }
                
                    .psd-label,
                    .publ-label,
                    .res-label,
                    .pers-label {
                        color: $color-text;
                        display: flex;
                        align-items: center;
                        text-shadow: 2px 2px 3px black;
                
                        label {
                            margin-right: 10px;
                        }
                    }
                }
    
                input[type="text"],
                input[type="email"],
                input[type="file"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: transparent;
                    color: $color-text;
                }

                textarea::placeholder {
                    color: $color-text;
                    opacity: 1;
                }
    
                textarea {
                    resize: vertical; /* Permitir que el usuario cambie el tamaño verticalmente */
                }
                
                .com-deseado {
                    display: flex;
                    flex-direction: column;
                }
    
                .com-cancelar,
                .com-enviar {
                    grid-column: 1fr 1fr;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
    
                button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #007bff;
                    color: $color-text;
                    transition: background-color 0.3s;
                }
    
                button[type="reset"] {
                    background-color: #dc3545; 
                }
    
                button:hover {
                    background-color: #0056b3;
                }
    
                button[type="reset"]:hover {
                    background-color: #c82333;
                }
            }
    
        }
    }
}

.comision-section {
    background-color: $color-background;
    width: 100%;
    height: auto;
    margin-top: 10%;
    padding-bottom: 5%;
    
    .title-com {
        text-align: center;
        text-decoration: underline;
        padding-top: 2%;
    }

    .FAQ {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 0.5%;
        padding-left: 2%;
        gap: 10px;
        grid-column-gap: 50px;

        h2 {
            text-decoration: underline;
            text-align: left;
            //text-shadow: 2px 2px 3px black;
            padding-top: 2%;
            padding-left: 2%;
        }
        ul {
            li {
                font-size: 18px;
                padding-top: 5px;
            }
        }
    }
    
}