.contact-body {
    //background-image: url(../img/img-19.jpg);
    //background-repeat: no-repeat;
    //background-size: fill;
    //background-position: center;
    font-family: $font;
    background: $color-background;

    .contact-main {
        .contact-title {
            h1 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }

            h2 {
                margin-top: 15px;
                text-align: center;
                text-shadow: 2px 2px 3px black;
            }
        }

        .form-container {
            max-width: 600px;
            margin: auto;
            margin-top: 5%;
            background-color: $color-background;
            backdrop-filter: blur(10px);
            padding: 20px;
            border: none;
            border-radius: 8px;
            box-shadow: 0 0 20px rgb(255, 0, 0), 
                        0 0 30px rgba(216, 1, 1, 0.8), 
                        0 0 40px rgba(255, 0, 0, 0.6);

            h3 {
                text-align: center;
                text-shadow: 2px 2px 3px black;
                font-size: 20px;
            }
    
            .formulario-comision {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                color: #000000;
    
                .com-nombre,
                .com-apellido,
                .com-email,
                .com-telefono,
                .com-desc-title,
                .com-txt-area,
                .com-deseado,
                .ref-label,
                .subida-label {
                    color: $color-text;
                    grid-column: span 2;
                    font-size: 20px;
                    text-shadow: 2px 2px 3px black;
    
                    input {
                        background: none;
                        outline: none;
                        border: none;
                        color: $color-text;
                    }

                    input::placeholder {
                        color: $color-text;
                        opacity: 1;
                    }
                }

                input[type="text"],
                input[type="email"],
                input[type="file"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: transparent;
                    color: $color-text;
                }

                textarea::placeholder {
                    color: $color-text;
                    opacity: 1;
                }
    
                textarea {
                    resize: vertical;
                }
    
                .com-cancelar,
                .com-enviar {
                    grid-column: 1fr 1fr;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
    
                button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    background-color: #007bff;
                    color: $color-text;
                    transition: background-color 0.3s;
                }
    
                button[type="reset"] {
                    background-color: #dc3545; 
                }
    
                button:hover {
                    background-color: #0056b3;
                }
    
                button[type="reset"]:hover {
                    background-color: #c82333;
                }
            }
    
        }
    }

    .contact-media {
        margin-top: 5%;
        text-align: center;
        font-size: 20px;

        .contact-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2%;
            margin-bottom: 5%;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 25px;

                li {
                    list-style: none;

                    a {
                        display: flex;
                        text-decoration: none;
                    }

                    i {
                        color: $color-text;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}