.portfolio-body {
    font-family: $font;
    .portfolio-main {
        bottom: 5%;
        h1 {
            font-size: 25px;
            text-align: center;
            margin: 3% 0 1% 0;
        }
        h2 {
            font-size: 20px;
            text-align: center;
            margin: 2% 0 4% 0;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 10px;
    
            .gallery-item {
                position: relative;
                overflow: hidden;
            }
    
            .gallery-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
    
            .gallery-item:hover .overlay {
                opacity: 1;
            }
    
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: $color-text;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                box-sizing: border-box;
    
                .text {
                    text-align: center;
                    padding: 10px;
                }
                a {
                    text-decoration: none;
                    color: $color-text;
                    font-size: 20px;

                    span {
                        color: rgb(5, 100, 224);
                        text-decoration: underline;
                    }
                }
            }
        }
        .comision-button {
            @include button-style(#190c0b);
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
}