header {
    nav {
        display: grid;
        grid-template-columns: 150px auto;
        align-items: center;
        position: relative;

        .logo a {
            color: $color-text;
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            margin-left: 15px;
        }

        .menu-links {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
        }

        .menu-links ul {
            display: flex;
            list-style: none;
            padding: 0;
        }
        
        .menu-links ul li {
            display: inline;
        }
        
        .menu-links ul a {
            position: relative;
            cursor: pointer;
            color: $color-text;
            text-decoration: none;
            font-size: 20px;
            padding: 0.5rem 1rem;
            transition: color 0.25s;
        }

        .menu-links ul a::after {
            position: absolute;
            content: "";
            inset: 0;
            background: white;
            scale: 1 0;
            z-index: -1;
            transition: 0.45s;
            border-radius: 10px;
        }

        .menu-links ul a:hover {
            color: black;
        }
        
        .menu-links ul a:hover:after {
            scale: 1 1;

        }
    }
}